<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.urdf.xacro" />
    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_plugins.gazebo.xacro" />
      	<gazebo reference="laser0_frame">
	  <sensor name="velodyne" type="ray">
	    <always_on>true</always_on> 
	    <update_rate>5</update_rate>
	    <visualize>false</visualize>
	    <ray>
	      <scan>
		<horizontal>
		  <samples>360</samples>
		  <resolution>1</resolution>
		  <min_angle>-3.14</min_angle> <!--135 derece -> 2.35619 radyan-->
		  <max_angle>3.14</max_angle>  <!--135 derece -> 2.35619 radyan-->
		</horizontal>
		<vertical>
		  <samples>16</samples> <!--lazer katman sayisi-->
		  <resolution>1</resolution>
		  <min_angle>-0.261</min_angle> <!--radyan-->
		  <max_angle>0.261</max_angle> <!--radyan-->
		</vertical>
	      </scan>
	      <range>
		<min>0.5</min> <!--metre-->
		<max>50</max> <!--metre-->
		<resolution>0.02</resolution>
	      </range>
	    </ray>
	    <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_velodyne_laser.so"> <!-- https://bitbucket.org/DataspeedInc/velodyne_simulator.git -->
	      <frameName>/uav/laser0_frame</frameName>
	      <topicName>point</topicName>
	      <gaussianNoise>0.02</gaussianNoise>
	      <hokuyoMinIntensity>1</hokuyoMinIntensity>
	      <alwaysOn>true</alwaysOn>
	      <updateRate>5</updateRate>
	      <pcl>2.0</pcl> 
	    </plugin>
	  </sensor>
	  </gazebo>
 
</robot>

